<div class="card mb-5" style="width: 17rem;">
    <div class="card-header bg-dark">
        <h1 class="text-white display-6">{{name}}</h1> <img src="../src/pc.svg" style="height: 35px; filter: invert(1);margin-bottom: 17px;"><span class="text-white m-2" style="font-size: 25px;">{{role}}</span><img>
    </div>
    <ul class="list-group list-group-flush text-center list">
      <li class="list-group-item">ID: {{id}}</li>
      <li class="list-group-item">Email: <a href="">{{email}}</a></li>
      <li class="list-group-item">Github: <a href="">{{github}}</a></li>
    </ul>
  </div>