<div class="card mb-5" style="width: 17rem;">
    <div class="card-header bg-dark">
      <h1 class="text-white display-6">{{name}}</h1> <h3 class ='text-white p-2'>{{role}}<img src="../src/mug.svg" style="height: 35px; filter: invert(1);margin: 10px; "><img></h3>
    </div>
    <ul class="list-group list-group-flush text-center list">
      <li class="list-group-item">Employee ID: {{id}}</li>
      <li class="list-group-item"> {{email}}</li>
      <li class="list-group-item">{{github}}</li>
    </ul>
  </div>